@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
    background-color: #140000;
    color: #ad0000;
    font-family: 'Orbitron', sans-serif;
    margin-left: 10em;
    /*margin-bottom: 1em; */
}

h3 {
    padding-left: 7.5em;
    font-size: 10em;
}

p {
    margin-top: -.25em;
    font-size: 24em;
}