@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
    background-color: #140000;
    color: #ad0000;
    font-family: 'Orbitron', sans-serif;
    margin-left: 10em;
    margin-bottom: 2em;
}

h3 {
    padding-left: 4em;
    font-size: 6em;
}

p {
    padding: 20px, 50px;
    font-size: 12em;
}